<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="padding-bottom: 3px">
    <td th:text="${session.member.memberName}" align="left"></td>님
    <button onclick="location.href='/members/logout'" style="background-color: rgb(240, 240, 255)" align="left">LogOut</button>
</div>
<iframe src="/division/divSelect" style="display:inline-block; width:48vw; height: 48vh; border: 0;" align="left" frameborder="0"
        framespacing="0"></iframe>
<iframe src="/division/divSelect" style="display:inline-block; width:48vw; height: 48vh;  border: 0; " align="right" frameborder="0"
        framespacing="0"></iframe>
<iframe src="/division/divSelect" style="display:inline-block; width:48vw; height: 48vh;  border: 0; " align="left" frameborder="0"
        framespacing="0"></iframe>
<iframe src="/division/divSelect" style="display:inline-block; width:48vw; height: 48vh;  border: 0; " align="right" frameborder="0"
        framespacing="0"></iframe>
</body>
</html>