<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style type="text/css">

	div.button{
		margin-left: 45%;
		margin-top: 30px;
	}
	div.button input
	{

  	 	padding: 5px;

  	 	width:200px;

   		font-size: 18px;
   		 background-color: rgb(240, 240, 255);
   	 	border: 2px;
    	border-radius: 3px;
    	color: black;
    	font-size: 22px;
    	font-weight: 500;
	}
  .welcome{
    font-size: 40px;
    margin-left: 45%;
  margin-top: 300px;
  }
</style>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>
<tr th:each="member : ${memberForm}">
    <td th:text="${member.memberName}"></td>님
</tr>
<div class="welcome">환영합니다</div>
<div class="button">

    <input type="button" value="분할하지 않음" onClick="location.href='NotDiv.html'"/><br/><br/>
    <input type="button" value="2분할" onClick="location.href='2Div.html'"/><br/><br/>
    <input type="button" value="4분할" onClick="location.href='4Div.html'"/><br/>

</div>
</body>
</html>