<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>NotDiv</title></head>
<style type="text/css">

	div.button{
        position: absolute;
        top: 50%; left: 50%;
        width: 200px;
        height: 250px;
        margin: -125px 0px 0px -100px;
	}
	div.button input
	{

  	 	padding: 5px;

  	 	width:200px;

   		font-size: 18px;
   		 background-color: rgb(240, 240, 255);
   	 	border: 2px;
    	border-radius: 3px;
    	color: black;
    	font-size: 22px;
    	font-weight: 600;
	}

</style>
<td th:text="${session.member.memberName}"></td>님
<button onclick="location.href='/members/logout'" style="background-color: rgb(240, 240, 255)">LogOut</button>
<body style="background-color: rgb(255, 255, 255);">
<div class="button">

    <input type="button" onclick="location.href='/chat/goChat?division=0'" value="채팅"/><br/><br/>
    <input type="button" onclick="location.href='/memo/memoList?division=0'" value="메모장"/><br/><br>
    <input type="button" onclick="location.href='/board/boardList?division=0'" value="게시판"/><br><br>
    <input type="button" onclick="location.href='/organization/showOrganizationChart?division=0'" value="조직도"/><br/>

</div>
<script type="text/javascript">

</script>
</body>
</html>